body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 70px;
    padding: 50px;
    padding-top: 30px;
    border: outset red;
}

.h1 {
    color: green;
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.h2 {
    color: aqua;
}

.h3 {
    color: blueviolet;
}

.h4 {
    color: brown;
}

.h5 {
    color: cornflowerblue;
}

.h6 {
    color: yellow;
}

a:link {
    color: blue;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: red;
}